@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
#todo{
  background: #A30303;
}
#header{
weight:950px ;
height: 475px;
padding: 0px;
margin: 0px;


/*background-color: #852e34;*/
}



#cifrado{
font-family: 'Patrick Hand', cursive;

font-size: 29px;

  /*margin-top: 10px;*/
  /*background-color:#852e34;*/
}
#decifrado{
  margin-left: 20px;
}
#compartir{
  display: none;
}
#qr{
  width: 80%;
  height: 80%;
}
/*#footer{
  background-color: #767771;
  font color: white;
  height: 100px;
}*/
